In [9]:
# 자료구조: 자료를 저장 및 관리하는 방법
# 알고리즘: 문제를 해결하는 방법

"""
튜플(  ,  ,  ) : 리스트[]와 비슷
리스트는 생성,삭제,수정
튜플은 변경을 할 수 없음
"""

a = (3,2,5,6,1) #튜플
a
a = 3,2,5,6,1 #튜플. 괄호를 넣지 않아도 되지만, 괄호로 명확하게 구분해주는 것이 좋음
a
a1 = ()
a1

a2 = 5,  #값을 1개 저장한 튜플을 정의할때는 컴마를 써야함
type(a2)
a3 = ('john', 25, 180.5, True) #자료형에 관계없이 데이터를 저장 가능
a3
#a3[1]=50 에러
#튜플은 변경이 안되므로, 데이터가 계속 유지되어야 할 경우에 사용

('john', 25, 180.5, True)

In [10]:
a = tuple(range(10))
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
#튜플 <-> 리스트
a = [1,2,3]
a
a = tuple(a)
a
a = list(a)
a

[1, 2, 3]

In [12]:
list('hello')

['h', 'e', 'l', 'l', 'o']

In [13]:
tuple('hello')

('h', 'e', 'l', 'l', 'o')

In [14]:
x,y = [1,2]
x
y
x,y = (1,2)
x
y
#unpacking: 리스트(튜플)의 요소를 여러개의 변수에 할당하는 것
#packing: 변수에 리스트 또는 튜플을 할당하는 것
a = [1,2,3] #리스트 패킹
b = (1,2,3) #튜플 패킹

In [15]:
t1 = (1,2,'x','y')
t1
# del t1[0]
#1[0]=5
t1[1:]
t2 = (3,4)
t1+t2
t2*3
len(t1)

4

In [16]:
#시퀀스형 : 리스트, 튜플, range, 문자열 데이터는 연속적으로 표현
#시퀀스형의 자료(객체)에 특정 값이 존재하는지 확인

#0~90까지 10씩 증가한 값으로 리스트 생성
a = list(range(0,91,10))
#시퀀스형에 대해 in 연산자 사용 가능
30 in a #a 변수(시퀀스형) 안에 30이 있느냐?
100 in a 
30 not in a #a변수(시퀀스형) 안에 30이 있지 않느냐?
100 not in a

True

In [17]:
'h' in 'hello, python'
'h' not in 'hello, python'
100 in range(100)

False

In [18]:
# +연산자로 시퀀스형에 대한 자료 연결이 가능
#range는 안됨
a = [1,2]
b = [3,4]
a+b
'hello'+'hi'
a = (1,2)
b = (3,4)
a+b
# range(0,3)+range(3,5) 에러 발생
list(range(0,3))+list(range(3,5))
tuple(range(0,3))+tuple(range(3,5))
#리스트+튜플 처럼 자료형이 다른 경우에는 연결 안됨
#list(range(0,3))+tuple(range(3,5)) 에러 발생

#문자에 숫자 연결 안됨 (숫자를 문자로 변환하면 가능)
#'hi' + 7 에러 발생
'hi' + str(7)
'hi' + str(3.14)

#range(0,3)*3 에러 발생
list(range(0,3))*3

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [19]:
#len: 시퀀스 자료형에 해당되는 데이터의 길이
a = [1,2,3]
len(a)
a = (1,2,3)
len(a)
len(range(0,3))
len('hello')

hi = '안녕'
len('hi') #len은 문자의 개수
#utf-8
len(hi.encode('utf-8'))

6

In [20]:
#시퀀스형에 대한 자료 참조는 대괄호[] 기호 사용
x = 'HI HELLO'
# x[0] -> x.__getitem__(0)
x[0]
#x[10]

'H'

In [21]:
x[len(x)-1]
x[-1]

'O'

In [22]:
#x[2:-1]
x
x[2:-1]
x[2:]
x[1:7:2] #인덱스 1부터 2씩 증가하면서 인덱스 6번까지 가져옴
x[:8:2]
x[3::2]
x[::2]
x[::] #x를 출력하는 것과 같음

x[5:1:-1] #5,4,3,2
x[::-1] #역순

x[0:len(x)]
x[:len(x)]

#튜플도 리스트와 동일
x = range(10)
x[4:7]
list(range(0,7,2))

x = 'hello world'
x[:10:3]

'hlwl'

In [23]:
a = list(range(0,91,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [24]:
a[1] = 11
a

[0, 11, 20, 30, 40, 50, 60, 70, 80, 90]

In [25]:
a[2:5] = [21,31,'x']
a
a[1:9:2] = ['a','b','c','d']
a

[0, 'a', 21, 'b', 'x', 'c', 60, 'd', 80, 90]

In [26]:
a
del a[2:6]
a
del a[:5:2]
a

['a', 'd', 90]

In [ ]:
#딕셔너리: 키(KEY)와 값(VALUE)으로 자료를 표현
"""
person=[180, 70, 'O', '서울']

person2={'키':180, '몸무게':70, '혈액형':'O', '사는곳':'서울'}

"""

In [27]:
person = [180, 70, 'O', '서울']
person2 = {'키':180, '몸무게':70, '혈액형':'O', '사는곳':'서울'}
#딕셔너리를 다른 언어에서는 맵, 해쉬라고 부름

In [28]:
person
person2

{'키': 180, '몸무게': 70, '혈액형': 'O', '사는곳': '서울'}

In [29]:
person2 = {'키':180, '몸무게':70, '혈액형':'O', '사는곳':'서울', '몸무게':80, False:0, 99:'구구', 3.14:'원주율'}
person2 #key가 중복되면 마지막 자료가 저장

{'키': 180, '몸무게': 80, '혈액형': 'O', '사는곳': '서울', False: 0, 99: '구구', 3.14: '원주율'}

In [30]:
person2 = {'키':180, '몸무게':70, '혈액형':'O', '사는곳':'서울', '취미':{'오전': ['수영','야구'], '오후':'공부'}}
person2

{'키': 180,
 '몸무게': 70,
 '혈액형': 'O',
 '사는곳': '서울',
 '취미': {'오전': ['수영', '야구'], '오후': '공부'}}

In [ ]:
"""
딕셔너리
- key, value가 여러 쌍으로 구성
- 컴마로 구분
- key는 변하지 않는 것을 사용
- value는 변하는 값/변하지 않는 값 모두 사용 가능
"""

In [31]:
x = dict()  #x={}
x

{}

In [32]:
#dict(키1:값1, 키2:값2....)
per = dict(height=180, weight=70, bt='O')
per

pe = dict(zip(['height','weight','bt'],[180, 70, 'O']))
per

per = dict([('height',180), ('weight',70), ('bt','O')])
per

per = dict({'height':180, 'weight':70, 'bt':'O'})
per

{'height': 180, 'weight': 70, 'bt': 'O'}

In [ ]:
#zip(['height','weight','bt'],[180, 70, 'O'])

In [33]:
a = {1:'hi'}
a
a = {'a':[1,2,3]}
a

{'a': [1, 2, 3]}

In [34]:
b = {1:'a'}
print(a)
print(b)
a[2] = 'b' #key:2, value: 'b'
a
a['name'] = 'hgd'

{'a': [1, 2, 3]}
{1: 'a'}

In [35]:
a['name'] = 'lss'
a
#딕셔너리[키]='값'
a['weight'] = 70.5
a
a['name']  #딕셔너리[키] => 값
a
'weight' in a
'sky' in a
'sky' not in a
len(a)
a.keys()

for k in a.keys():
    print(k)
    
for v in a.values():
    print(v)
    
list(a.values())

for i in a.items():
    print(i)

a
2
name
weight
[1, 2, 3]
b
lss
70.5
('a', [1, 2, 3])
(2, 'b')
('name', 'lss')
('weight', 70.5)

In [36]:
list(a.keys())

['a', 2, 'name', 'weight']

In [37]:
a['name']
a.get('name')
a['nn']

KeyError: 'nn'

In [38]:
print(a.get('nn'))

None

In [39]:
a['id'] = 'test'
a

{'a': [1, 2, 3], 2: 'b', 'name': 'lss', 'weight': 70.5, 'id': 'test'}

In [40]:
a.get('id2','guest')
#딕셔너리 a에 nn 키가 없다면, kim을 출력
#디폴트(기본값) 설정

'guest'

In [41]:
#set: 집합 
#x={1,1,2,2,3} => x={1,2,3}   
#중복 허용 안됨
s = set([1,2,3])
s
s2 = ('hello')
s2

#set(집합) 자료구조 특징
#중복 허용 X, 순서가 없음
s = set(['k','i','m'])
slist = list(s)
slist
slist[1]

s = tuple(['k','i','m'])
s[0]
#slist = list(s)
#slist
#slist[1]

'k'

In [42]:
s1 = set([1,2,3,4])
s2 = set([5,6,3,4])

In [2]:
#교집합
s1 & s2
s1.intersection(s2)

{3, 4}

In [4]:
#합집합
s1 | s2
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [6]:
#차집합
s1-s2
s1.difference(s2)

{1, 2}

In [48]:
s = set([1,2])
s
s.add(3)
s
#s.add([4,5]) : add함수는 2개 이상 추가 안됨
s.update([4,5])
s

{1, 2, 3, 4, 5}

In [54]:
"""
참: "test", [1,2], (1,2), 1
거짓: "", [], (), 0, None

explicit programming: 모든 조건들을 명시 (조건문)
implicit programming: 상황에 맞춘 판단 가능

if 고양이가 나타나면:     if 조건:
    브레이크를 밟는다
    클락션을 울린다
달린다   (조건과 상관없이 무조건 실행)

if 강아지가 나타나면:     if 조건:
    브레이크를 밟는다
    클락션을 울린다
달린다 

"""

x = 3
if x == 10:
    print("10입니다")     
    print('5보다 큽니다')
print('문장을 수행합니다')

문장을 수행합니다

In [66]:
#참: "test", [1,2], (1,2), 1
#거짓: "", [], (), 0, None
    
#if a.get('nn'):
#    print('해당 키가 없습니다. 확인하세요.')

In [70]:
x = 10
if x == 10:
    pass
if x == 10:
    print('안녕')
    if x%2 == 0:
        print('하세요')

안녕
하세요

In [71]:
x = 5
if x == 5:
    print('x는')
print('5입니다.')

x는
5입니다.

In [77]:
x = 5
if x >= 3:
    print('3이상')
    if x < 10:
        print('10미만')
    if x < 5:
        print('5미만')
print('입니다')

3이상
10미만
입니다

In [80]:
if []:  #거짓이므로 else 문장 수행
    print('참')
else:
    print('거짓')
    
if [1,2]:  #참 문장 수행
    print('참')
else:
    print('거짓')
    
if None:  #거짓 문장 수행
    print('참')
else:
    print('거짓')

거짓
참
거짓

In [84]:
bool(0)
bool(10)
bool('python')
bool('')

False

In [86]:
a = [1,2,3]
if a:  #True
    print(a.pop())
a

3

[1, 2]

In [87]:
a = [1,2,3] #[]
while a:
    print(a.pop())
    
#while(~동안), a변수 값이 참인 동안에 계속 반복

3
2
1

In [9]:
for i in range(10): #(0,9)
    print('hi')

hi
hi
hi
hi
hi
hi
hi
hi
hi
hi

In [8]:
if int(input()) < 10:
    print('10보다 작아요')
else:
    print('10보다 커요')

15
10보다 커요

In [8]:
x = int(input())
y = input()
if y == 'Cash3000':
    print(x-3000)
if y == 'Cash5000':
    print(x-5000)

27000
Cash3000
24000

In [17]:
a = list(range(-10,10,int(input())))
a

2

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [28]:
n = (-32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2)
n[1::2]

(75, -10, 32, -15, 76, 2)

In [29]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a = set(a)
a

{1, 2, 3, 4, 5}