In [ ]:
"""
1. 연락처 입력 클래스 -> 객체(개인)
 전화번호, 이메일, 
2. 연락처 출력
3. 연락처 삭제
 동명이인이 존재하는 경우, 선택해서 삭제
"""

In [4]:
import re
import pandas as pd
from pandas import DataFrame as df
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

In [ ]:
# 전화번호부 생성

df = pd.DataFrame([], columns=['이름','전화번호','이메일'])
df.to_csv("contacts.csv", mode='a', index_label=False)
display(df)

In [ ]:
# 기능 선택
choice = input("메뉴를 선택하세요\n1.연락처 저장\n2.연락처 검색\n3.연락처 삭제\n")
choice

In [8]:
#1 연락처 저장

if choice==1:

    def contact_input():
        name = input("이름:")
        number = input("전화번호:")
        email = input("이메일:")
        info = [name, number, email]
        print(info)
        patterns = ['[가-힣]{2,4}','\d{2,3}[-]\d{3,4}[-]\d{4}', '.+[@].+[.].+' ]
    
        flag = True

        for i in range(3):
            if not re.match("'"+patterns[i]+"'","'"+info[i]+"'"):
                flag = False
        if flag:
            new_info = pd.DataFrame({"이름":[name],
                                     "전화번호":[number],
                                     "이메일":[email]})
            global df
            df = df.append(new_info, ignore_index=True)
        else:
            print('다시 입력하세요')
            contact_input()
    display(df)
    contact_input()

    이름           전화번호            이메일
0  홍길동  010-1111-1234  1234@test.com
1  홍길동  010-1234-1234  1235@test.com

이름:홍길순
전화번호:010-4444-5555
이메일:66@test.com
['홍길순', '010-4444-5555', '66@test.com']

In [9]:
#1 연락처 출력

pd.read_csv("contacts.csv")
df

    이름           전화번호            이메일
0  홍길동  010-1111-1234  1234@test.com
1  홍길동  010-1234-1234  1235@test.com
2  홍길순  010-4444-5555    66@test.com

In [14]:
#2 연락처 검색

elif choice==2:

    def search():

        n1 = input("이름으로 검색:")
        search_name = df.iloc[:,0].isin([n1]).tolist()

        if search_name.count(True)==1:
            index1 = search_name.index(True)
            print(df.iloc[index1])

        elif search_name.count(True)==0:
            print('존재하지 않는 이름입니다\n')
            search()
    
        else:
            print('중복된 이름이 있습니다\n번호로 검색하세요')
            n2 = input("번호로 검색:")
            search_number = df.iloc[:,1].isin([n2]).tolist()
            index2 = search_number.index(True)
            print(df.iloc[index2])

    search()

이름으로 검색:홍길도
존재하지 않는 이름입니다
이름으로 검색:홍길순
이름                홍길순
전화번호    010-4444-5555
이메일       66@test.com
Name: 2, dtype: object

In [20]:
#3 연락처 삭제

elif choice==3:

    def delete():

        n3 = input("이름으로 검색:")
        delete_name = df.iloc[:,0].isin([n3]).tolist()

        if delete_name.count(True)==1:
            index3 = delete_name.index(True)
            print(df.drop[index3], inplace=True)


        elif delete_name.count(True)==0:
            print('존재하지 않는 이름입니다\n')
            delete()
    
        else:
            print('중복된 이름이 있습니다\n번호로 검색하세요')
            n4 = input("번호로 검색:")
            delete_number = df.iloc[:,1].isin([n4]).tolist()
            index4 = delete_number.index(True)
            print(df.drop([index4],inplace=True))


    delete()
    display(df)

이름으로 검색:홍길동
중복된 이름이 있습니다
번호로 검색하세요
번호로 검색:010-1234-1234
None

    이름           전화번호            이메일
0  홍길동  010-1111-1234  1234@test.com
2  홍길순  010-4444-5555    66@test.com

In [ ]:
#2 연락처 검색

import pandas as pd

find_name = input("이름:")+'.csv'
df=pd.read_csv(find_name, encoding='cp949')
df.index=['전화번호','이메일']
df

In [ ]:
class Contact:
    def __init__(self. name, tel, email, addr)
        self.name=name
        ...
    def info(self)
    print("이름:", self.name)
    ...
    
def run():
    hong=Contact('홍길동','010-1111-1111','test@test.com','seoul')
    hong.info()
    
run()