In [1]:
#선형회귀
import numpy as np

In [2]:
x = [2,4,6,8]
y = [81,93,91,97]

In [3]:
#x와 y의 평균값
mx = np.mean(x)
my = np.mean(y)

In [4]:
#기울기 공식의 분모
divisor = sum([(mx-i)**2 for i in x])
divisor

20.0

In [5]:
#기울기 공식의 분자
def top(x,mx,y,my):
    d=0
    for i in range(len(x)):
        d+=(x[i]-mx)*(y[i]-my)
    return d
    
dividend = top(x,mx,y,my)

In [6]:
print("분모:",divisor)
print("분자:", dividend)

분모: 20.0
분자: 46.0

In [7]:
# w: 직선의 기울기 = y값의증가량/x값의증가량
w = dividend/divisor
w #기울기
b = my-(mx*w) #y의 평균-(x평균*기울지w)
b #79

# y = 2.3x + 79

79.0

In [8]:
data = [[2,81],[4,93],[6,91],[8,97]]

#공부한시간=2, 실제점수=81, 예측점수=83.6
#....
#공부한시간=8, 실제점수=97, 예측점수=97.4
#rmse:

In [9]:
wb = [2.3, 79] #기울기, y절편
# data = [[2,81],[4,93],[6,91],[8,97]]
x = [i[0] for i in data]
y = [i[1] for i in data]

In [10]:
x

[2, 4, 6, 8]

In [11]:
y

[81, 93, 91, 97]

In [12]:
def predict(x):
    return wb[0]*x+wb[1]

In [13]:
predict_result=[]
for i in range(len(x)):
    predict_result.append(predict(x[i]))
    print ("공부시간=%.f, 실점수=%.f, 예측점수=%.f" %(x[i], y[i], predict(x[i])))

공부시간=2, 실점수=81, 예측점수=84
공부시간=4, 실점수=93, 예측점수=88
공부시간=6, 실점수=91, 예측점수=93
공부시간=8, 실점수=97, 예측점수=97

In [14]:
#리스트
# print([1,2,3]*3)
# print([1,2,3]*[2,3,4])

In [15]:
def rmse(p,a):
    return (np.sqrt((p-a)**2).mean())

In [16]:
print(rmse(np.array(predict_result),np.array(y)))

2.3999999999999986

## tensor flow를 이용한 경사하강법

In [18]:
import tensorflow as tf

In [19]:
#기울기 범위: 0~10, y절편: 0~100
w = tf.Variable(tf.random_normal([1],0,10, seed=0), dtype=tf.float32) #0~10 사이의 난수 
b = tf.Variable(tf.random_normal([1],0,100, seed=0), dtype=tf.float32) #0~100 사이의 난수

In [20]:
hf = w*x+b
rmse = tf.sqrt(tf.reduce_mean(tf.square(hf-y)))
lr=0.1

In [21]:
train = tf.train.GradientDescentOptimizer(lr).minimize(rmse)

In [22]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(2001):
        sess.run(train)
        if step%100==0:
            print("RMSE=%.4f, 기울기=%.4f, y절편=%.4f" %(sess.run(rmse), sess.run(w), sess.run(b)))

RMSE=148.2724, 기울기=-3.4730, y절편=-39.8162
RMSE=45.6344, 기울기=20.8727, y절편=-32.5576
RMSE=44.0149, 기울기=20.3265, y절편=-28.5748
RMSE=42.4007, 기울기=19.6626, y절편=-24.6124
RMSE=40.7871, 기울기=18.9987, y절편=-20.6507
RMSE=39.1741, 기울기=18.3349, y절편=-16.6897
RMSE=37.5619, 기울기=17.6714, y절편=-12.7297
RMSE=35.9505, 기울기=17.0079, y절편=-8.7706
RMSE=34.3400, 기울기=16.3447, y절편=-4.8127
RMSE=32.7306, 기울기=15.6817, y절편=-0.8562
RMSE=31.1224, 기울기=15.0189, y절편=3.0989
RMSE=29.5157, 기울기=14.3565, y절편=7.0522
RMSE=27.9106, 기울기=13.6943, y절편=11.0034
RMSE=26.3076, 기울기=13.0326, y절편=14.9522
RMSE=24.7069, 기울기=12.3714, y절편=18.8980
RMSE=23.1091, 기울기=11.7108, y절편=22.8404
RMSE=21.5147, 기울기=11.0509, y절편=26.7784
RMSE=19.9247, 기울기=10.3919, y절편=30.7110
RMSE=18.3402, 기울기=9.7340, y절편=34.6370
RMSE=16.7625, 기울기=9.0776, y절편=38.5543
RMSE=15.1940, 기울기=8.4230, y절편=42.4604

### 다중 선형 회귀

In [23]:
data = [[2,0,81],[4,4,93],[6,2,91],[8,3,97]]
#공부한시간=2, 과외시간=0, 실제점수=81, 예측점수=83.6
#....
#공부한시간=8, 과외시간=3, 실제점수=97, 예측점수=97.4
#rmse:

In [24]:
x1 = [i[0] for i in data]
x2 = [i[1] for i in data]
y = [i[2] for i in data]

In [25]:
w1 = tf.Variable(tf.random_normal([1],0,10, seed=0), dtype=tf.float32)
w2 = tf.Variable(tf.random_normal([1],0,10, seed=0), dtype=tf.float32)
wb = tf.Variable(tf.random_normal([1],0,100, seed=0), dtype=tf.float32)

In [26]:
hf = w1*x1+w2*x2+b
rmse = tf.sqrt(tf.reduce_mean(tf.square(hf-y)))
lr=0.1

In [27]:
train = tf.train.GradientDescentOptimizer(lr).minimize(rmse)

In [28]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(2001):
        sess.run(train)
        if step%100==0:
            print("RMSE=%.4f, 기울기w1=%.4f, 기울기w2=%.4f, y절편=%.4f" %(sess.run(rmse), sess.run(w1), sess.run(w2), sess.run(b)))

RMSE=157.1025, 기울기w1=-3.4711, 기울기w2=-3.7536, y절편=-39.8165
RMSE=44.6891, 기울기w1=18.1984, 기울기w2=6.5456, y절편=-32.9452
RMSE=43.0898, 기울기w1=17.4979, 기울기w2=6.7055, y절편=-29.0116
RMSE=41.4963, 기울기w1=16.8068, 기울기w2=6.7692, y절편=-25.0806
RMSE=39.9060, 기울기w1=16.1451, 기울기w2=6.7675, y절편=-21.1480
RMSE=38.3175, 기울기w1=15.5062, 기울기w2=6.7151, y절편=-17.2144
RMSE=36.7301, 기울기w1=14.8849, 기울기w2=6.6237, y절편=-13.2800
RMSE=35.1433, 기울기w1=14.2769, 기울기w2=6.5028, y절편=-9.3451
RMSE=33.5568, 기울기w1=13.6789, 기울기w2=6.3596, y절편=-5.4098
RMSE=31.9705, 기울기w1=13.0883, 기울기w2=6.2001, y절편=-1.4742
RMSE=30.3843, 기울기w1=12.5031, 기울기w2=6.0286, y절편=2.4616
RMSE=28.7982, 기울기w1=11.9217, 기울기w2=5.8485, y절편=6.3974
RMSE=27.2120, 기울기w1=11.3431, 기울기w2=5.6624, y절편=10.3334
RMSE=25.6259, 기울기w1=10.7664, 기울기w2=5.4721, y절편=14.2694
RMSE=24.0399, 기울기w1=10.1910, 기울기w2=5.2789, y절편=18.2054
RMSE=22.4538, 기울기w1=9.6164, 기울기w2=5.0839, y절편=22.1414
RMSE=20.8678, 기울기w1=9.0424, 기울기w2=4.8876, y절편=26.0774
RMSE=19.2818, 기울기w1=8.4687, 기울기w2=4.6907, y절편=30.0135
RMSE=17.6959, 기울기w1=7.8952, 기울기w2=4.4933, y절편=33.9495
RMSE=16.1100, 기울기w1=7.3218, 기울기w2=4.2956, y절편=37.8853
RMSE=14.5243, 기울기w1=6.7485, 기울기w2=4.0978, y절편=41.8210

### 로지스틱 회귀

In [29]:
data = [[2,0],[4,0],[6,0],[8,1],[10,1],[12,1],[14,1]] #[공부시간,합격여부]  0:불합격, 1:합격
xdata = [i[0] for i in data]
ydata = [i[1] for i in data]

In [30]:
w = tf.Variable(tf.random_normal([1], dtype=tf.float32, seed=0))
b = tf.Variable(tf.random_normal([1], dtype=tf.float32, seed=0))

In [31]:
hf = 1/(1+np.e**(w*xdata+b))
cost = -tf.reduce_mean(np.array(ydata)*tf.log(hf)+(1-np.array(ydata)*tf.log(1-hf)))

### multi-label classification (softmax function 이용)

In [33]:
x_data = [[1, 2, 1, 1],
          [2, 1, 3, 2],
          [3, 1, 3, 4],
          [4, 1, 5, 5],
          [1, 7, 5, 5],
          [1, 2, 5, 6],
          [1, 6, 6, 6],
          [1, 7, 7, 7]]
y_data = [[0, 0, 1],  #원핫인코딩 된 상태
          [0, 0, 1],  # 100->A, 010->B, 001->C 
          [0, 0, 1],
          [0, 1, 0],
          [0, 1, 0],
          [0, 1, 0],
          [1, 0, 0],
          [1, 0, 0]]

In [34]:
x = tf.placeholder("float", [None,4])
y = tf.placeholder("float", [None,3]) # 3: 분류기의 개수(분류 결과 종류의 가지수)
nb_classes=3 #nb_classes => number of classes

In [35]:
w = tf.Variable(tf.random_normal([4,3]))
b = tf.Variable(tf.random_normal([3]))
# hf = xw+b
hf = tf.nn.softmax(tf.matmul(x,w)+b)

In [36]:
cost = tf.reduce_mean(-tf.reduce_sum(y*tf.log(hf), axis=1))

In [37]:
opt = tf.train.GradientDescentOptimizer(0.1).minimize(cost)

In [38]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(2001):
        _, cv = sess.run([opt,cost], feed_dict={x:x_data, y:y_data})
        if step%200==0:
            print(step, cv)     
            
    res = sess.run(hf, feed_dict={x:[[1, 11, 7, 9]]})
    print("분류 결과:", str(res.sess.run(tf.argmax(res, 1))[0]))
    print("-"*50)
    
    res2 = sess.run(hf, feed_dict={x:[[1, 11, 7, 9],[1,3,4,3],[1,1,0,1]]})
    print("분류 결과:", str(res2.sess.run(tf.argmax(res2, 1))))

0 11.133884
200 0.57581484
400 0.4743309
600 0.39513594
800 0.32103932
1000 0.25337195
1200 0.2273168
1400 0.20677546
1600 0.18952085
1800 0.17482594
2000 0.16216819

AttributeError: 'numpy.ndarray' object has no attribute 'sess'

### 연습문제: 동물 분류기, Iris 분류기

In [40]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [41]:
zoo = pd.read_csv("실습데이터/실습데이터/data-04-zoo.csv", header=None)[20:]
zoo

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
20,1,0,0.0,1.0,0.0,0,0.0,1.0,1.0,1.0,0.0,0.0,4.0,1.0,0.0,1.0,0.0
21,0,0,1.0,0.0,0.0,1,1.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0
22,1,0,0.0,1.0,0.0,0,1.0,1.0,1.0,1.0,0.0,0.0,4.0,0.0,0.0,1.0,0.0
23,1,0,0.0,1.0,0.0,0,1.0,1.0,1.0,1.0,0.0,0.0,4.0,1.0,0.0,1.0,0.0
24,1,0,0.0,1.0,0.0,0,0.0,1.0,1.0,1.0,0.0,0.0,4.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,1,0,0.0,1.0,0.0,0,0.0,1.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,1.0,0.0
116,1,0,1.0,0.0,1.0,0,0.0,0.0,0.0,1.0,1.0,0.0,6.0,0.0,0.0,0.0,5.0
117,1,0,0.0,1.0,0.0,0,1.0,1.0,1.0,1.0,0.0,0.0,4.0,1.0,0.0,1.0,0.0
118,0,0,1.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
119,0,1,1.0,0.0,1.0,0,0.0,0.0,1.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,1.0

In [42]:
ydata = zoo[16]
ydata
xdata = zoo.drop([16], axis=1)
xdata

    0  1    2    3    4  5    6    7    8    9    10   11   12   13   14   15
20   1  0  0.0  1.0  0.0  0  0.0  1.0  1.0  1.0  0.0  0.0  4.0  1.0  0.0  1.0
21   0  0  1.0  0.0  0.0  1  1.0  1.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0
22   1  0  0.0  1.0  0.0  0  1.0  1.0  1.0  1.0  0.0  0.0  4.0  0.0  0.0  1.0
23   1  0  0.0  1.0  0.0  0  1.0  1.0  1.0  1.0  0.0  0.0  4.0  1.0  0.0  1.0
24   1  0  0.0  1.0  0.0  0  0.0  1.0  1.0  1.0  0.0  0.0  4.0  1.0  0.0  1.0
..  .. ..  ...  ...  ... ..  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
115  1  0  0.0  1.0  0.0  0  0.0  1.0  1.0  1.0  0.0  0.0  2.0  1.0  0.0  1.0
116  1  0  1.0  0.0  1.0  0  0.0  0.0  0.0  1.0  1.0  0.0  6.0  0.0  0.0  0.0
117  1  0  0.0  1.0  0.0  0  1.0  1.0  1.0  1.0  0.0  0.0  4.0  1.0  0.0  1.0
118  0  0  1.0  0.0  0.0  0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
119  0  1  1.0  0.0  1.0  0  0.0  0.0  1.0  1.0  0.0  0.0  2.0  1.0  0.0  0.0

[100 rows x 16 columns]

In [43]:
ydata = pd.get_dummies(ydata)

In [44]:
xdata.shape #(100, 16)
ydata.shape #(100, 7)

(100, 7)

In [45]:
xtrain,xtest,ytrain,ytest = train_test_split(xdata, ydata, random_state=42, train_size=0.7)

In [46]:
x = tf.placeholder("float", shape=[None,16])
y = tf.placeholder("float", shape=[None,7])
nb_classes=7

In [47]:
w = tf.Variable(tf.random_normal([16,7]))
b = tf.Variable(tf.random_normal([7]))

hf = tf.nn.softmax(tf.matmul(x,w)+b)

In [48]:
cost = tf.reduce_mean(-tf.reduce_sum(y*tf.log(hf), axis=1))

In [49]:
opt = tf.train.GradientDescentOptimizer(0.01).minimize(cost)

In [61]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(10001):
        _, cv = sess.run([opt,cost], feed_dict={x:xtrain, y:ytrain})
        if step%200==0:
            print(step,cv)
    
    res = sess.run(hf, feed_dict={x:xtest})
    print("분류 결과:", sess.run(tf.argmax(res,1)))
    print("정답:", sess.run(tf.argmax(ytest,1)))
    accuracy = tf.reduce_mean(tf.cast((tf.equal(tf.argmax(res,1), tf.argmax(ytest,1))), dtype=tf.float32))*100
    print("정확도", sess.run(accuracy, feed_dict={x:xtest, y:ytest}), "%")

0 6.7105637
200 0.51667464
400 0.44482958
600 0.4031969
800 0.37330744
1000 0.34968635
1200 0.33007386
1400 0.31331855
1600 0.29874086
1800 0.285895
2000 0.27446604
2200 0.26421958
2400 0.25497437
2600 0.24658658
2800 0.23893985
3000 0.23193851
3200 0.22550301
3400 0.21956643
3600 0.2140723
3800 0.20897222
4000 0.20422472
4200 0.19979389
4400 0.19564869
4600 0.19176179
4800 0.18810944
5000 0.18467063
5200 0.18142685
5400 0.17836162
5600 0.17546025
5800 0.17270978
6000 0.17009835
6200 0.16761553
6400 0.16525179
6600 0.16299856
6800 0.1608481
7000 0.15879333
7200 0.15682785
7400 0.1549458
7600 0.15314187
7800 0.15141115
8000 0.14974914
8200 0.14815174
8400 0.14661512
8600 0.14513585
8800 0.14371058
9000 0.14233638
9200 0.14101046
9400 0.13973027
9600 0.1384934
9800 0.1372976
10000 0.13614081
분류 결과: [1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0 0 0 1 0 0 2 1
 0 0 0 2 1 1 0 0]
정답: [1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0 0 0 1 0 0 2 1
 0 0 0 2 1 1 0 0]
정확도 100.0 %

In [52]:
iris = pd.read_csv("실습데이터/실습데이터/iris_softmax.csv", header=None)
iris

       0    1    2    3    4    5    6    7
0    1.0  5.1  3.5  1.4  0.2  1.0  0.0  0.0
1    1.0  4.9  3.0  1.4  0.2  1.0  0.0  0.0
2    1.0  4.7  3.2  1.3  0.2  1.0  0.0  0.0
3    1.0  4.6  3.1  1.5  0.2  1.0  0.0  0.0
4    1.0  5.0  3.6  1.4  0.2  1.0  0.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...
145  1.0  6.7  3.0  5.2  2.3  0.0  0.0  1.0
146  1.0  6.3  2.5  5.0  1.9  0.0  0.0  1.0
147  1.0  6.5  3.0  5.2  2.0  0.0  0.0  1.0
148  1.0  6.2  3.4  5.4  2.3  0.0  0.0  1.0
149  1.0  5.9  3.0  5.1  1.8  0.0  0.0  1.0

[150 rows x 8 columns]

In [53]:
ydata = iris[[5,6,7]]
xdata = iris.drop([5,6,7], axis=1)
xdata = xdata.drop([0], axis=1)

In [54]:
ydata.shape #(150, 3)
xdata.shape #(150, 4)

(150, 4)

In [55]:
xtrain,xtest,ytrain,ytest = train_test_split(xdata,ydata, random_state=42, train_size=0.7)

In [56]:
x = tf.placeholder("float", shape=[None,4])
y = tf.placeholder("float", shape=[None,3])

nb_classes=3

In [57]:
w = tf.Variable(tf.random_normal([4,3]))
b = tf.Variable(tf.random_normal([3]))

hf = tf.nn.softmax(tf.matmul(x,w)+b)

In [58]:
cost = tf.reduce_mean(-tf.reduce_sum(y*tf.log(hf), axis=1))

In [59]:
opt = tf.train.GradientDescentOptimizer(0.01).minimize(cost)

In [60]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for step in range(10001):
        _,cv = sess.run([opt,cost], feed_dict={x:xtrain, y:ytrain})
        if step%200==0:
            print(step,cv)
    res = sess.run(hf, feed_dict={x:xtest})
    print("분류 결과:", sess.run(tf.argmax(res,1)))
    print("정답:", sess.run(tf.argmax(ytest,1)))
    accuracy = tf.reduce_mean(tf.cast(tf.equal(tf.argmax(res,1),tf.argmax(ytest,1)),dtype=tf.float32))*100
    print("정확도:", sess.run(accuracy, feed_dict={x:xtest,y:ytest}), "%")

0 6.5735817
200 0.6221197
400 0.5082602
600 0.44821677
800 0.40691406
1000 0.37528357
1200 0.3497366
1400 0.32845703
1600 0.3103691
1800 0.29476604
2000 0.28115043
2200 0.2691565
2400 0.25850543
2600 0.24898042
2800 0.24040936
3000 0.23265381
3200 0.22560102
3400 0.21915802
3600 0.21324766
3800 0.2078053
4000 0.20277634
4200 0.19811429
4400 0.19377951
4600 0.18973789
4800 0.18595985
5000 0.18241972
5200 0.17909507
5400 0.1759662
5600 0.17301582
5800 0.17022856
6000 0.16759083
6200 0.16509049
6400 0.16271669
6600 0.16045976
6800 0.15831093
7000 0.15626241
7200 0.15430698
7400 0.15243821
7600 0.15065034
7800 0.14893794
8000 0.14729615
8200 0.14572054
8400 0.14420703
8600 0.14275189
8800 0.1413516
9000 0.14000307
9200 0.13870332
9400 0.13744967
9600 0.1362396
9800 0.13507077
10000 0.13394108
분류 결과: [1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0 0 0 1 0 0 2 1
 0 0 0 2 1 1 0 0]
정답: [1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0 0 0 1 0 0 2 1
 0 0 0 2 1 1 0 0]
정확도: 100.0 %